
<div class="dog_profile">

  <h2> DOG PROFILE : </h2>


  <div class="dog_profile_pic">
    <img src="<%= @dog.photo_url %>" height="300", width="300">
  </div>

  <div class="dog_profile_info">
    <p>
      NAME: <%= @dog.name %>
    </p>

    <p>
      OWNER: <%= @dog.owner %>
    </p>

    <p>
      USER: <%= @dog.user.email %>
    </p>

    <p>
      BREED: <%= @dog.breed %>
    </p>

    <p>
      WEIGHT: <%= @dog.weight %>
    </p>

    <p>
      MEDICAL CHECK: <%= @dog.medical_check %>
    </p>
  </div>

  <% if current_user == @dog.user %>
    <div id="edit_dog_link">
      <%= link_to " [ EDIT / DELETE DOG PROFILE ] ", edit_dog_path %>
    </div>
  <% end %>

</div>


<h4> APPOINTMENTS : </h4>

<div id="new_appointment_link">
  <%= link_to "[ MAKE A NEW APPOINTMENT ] ", new_appointment_path %>
</div>

<% @dog.appointments.each do |appointment| %>
  <div class="listed_appointments">
  <p> LOCATION: <%= appointment.daycare.name %></p>
  <p> DAY: <%= appointment.day %></p>
  <p> MONTH: <%= appointment.month %></p>
  <p> YEAR: <%= appointment.year %></p>
  <p> HOUR: <%= appointment.hour %></p>

  <div id="edit_appointment_link">
    <%= link_to " [ EDIT / DELETE APPOINTMENT ] ", edit_appointment_path(appointment) %>
    <!-- <a href="/appointments/<%#= appointment.id %>/edit"> [ EDIT / DELETE APPOINTMENT ] </a> -->
  </div>

  </div>
<% end %>
