<h1> DOG PROFILE </h1>

<p>
  NAME: <%= @dog.name %>
</p>

<p>
  PHOTO: <%= @dog.photo_url %>
</p>

<p>
  OWNER: <%= @dog.owner %>
</p>

<p>
  BREED: <%= @dog.breed %>
</p>

<p>
  WEIGHT: <%= @dog.weight %>
</p>

<p>
  MEDICAL CHECK: <%= @dog.medical_check %>
</p>
