
<div class="dog_profile">

  <h2> <%= @dog.name.upcase %>'S PROFILE : </h2>


  <div class="dog_profile_basic">

    <div class="dog_profile_pic">
      <img src="<%= @dog.photo_url %>" height="300", width="300">
    </div>

    <div class="dog_profile_info">
      <p>
        NAME: <%= @dog.name %>
      </p>

      <p>
        OWNER: <%= @dog.owner %>
      </p>

      <p>
        USER: <%= @dog.user.email %>
      </p>

      </br>
      <p>
        BREED: <%= @dog.breed %>
      </p>

      <p>
        WEIGHT: <%= @dog.weight %>
      </p>

      <p>
        MEDICAL CHECK: <%= @dog.medical_check %>
      </p>

    </div>

  </div>


  <% if current_user == @dog.user %>
    <div id="edit_dog_link">
      <%= link_to " [ EDIT / DELETE DOG PROFILE ] ", edit_dog_path(@dog) %>
    </div>
  <% end %>

</div>

<% if current_user == @dog.user %>

  <div class="dog_appointments_section">

    <h4> APPOINTMENTS : </h4>

    <div id="new_appointment_link">
      <%= link_to "[ MAKE A NEW APPOINTMENT ] ", new_appointment_path %>
    </div>

    <% @dog.appointments.each do |appointment| %>

      <div class="listed_appointments">
        <p> LOCATION: <%= appointment.daycare.name %></p>
        <p> DATE : <br> <%= appointment.weekday %> <br> <%= appointment.month %>, <%= appointment.day %></p>
        <p> TIME : <br>  <%= appointment.time %>:00</p>
        <!-- <p> CREATED BY: <%#= appointment.created_by.email %></p> -->

        <div id="edit_appointment_link">
          <%= link_to " [ EDIT / DELETE APPOINTMENT ] ", edit_appointment_path(appointment) %>
          <!-- <a href="/appointments/<%#= appointment.id %>/edit"> [ EDIT / DELETE APPOINTMENT ] </a> -->
        </div>

      </div>

    <% end %>

  </div>

<% end %>
