<h2> DAYCARE PROFILE </h2>

<p>
  NAME: <%= @daycare.name %>
</p>

<p>
  ADDRESS: <%= @daycare.address %>
</p>

<p>
  PRICE: <%= @daycare.price %>
</p>

<div id="edit_daycare_link">
  <%= link_to " [ EDIT / DELETE DAYCARE PROFILE ] ", edit_daycare_path(@daycare) %>
</div>

<h4> APPOINTMENTS : </h4>

  <% @daycare.appointments.each do |appointment| %>
    <div class="daycare_appointment">
    <p> DOG: <%= appointment.dog.name %></p>
    <p> DAY: <%= appointment.day %></p>
    <p> MONTH: <%= appointment.month %></p>
    <p> YEAR: <%= appointment.year %></p>
    <p> HOUR: <%= appointment.hour %></p>
    </div>

    <!-- <div id="edit_dog_appointment_link"> -->
      <%#= link_to " [ EDIT / DELETE APPOINTMENT ] ", edit_dog_appointment_path(appointment.dog, appointment) %>
    <!-- </div> -->

  <% end %>
