<h2>EDIT OR DELETE APPOINTMENT</h2>

<p> Edit your dogs appointment information. </p>

<%= form_for @appointment do |f| %>

  <h3> DOG: </h3>
    <p> <%= @appointment.dog.name %> </p>
  <h3> DAYCARE: </h3>
    <p> <%= @appointment.daycare.name %> </p>
  </br>
  </br>
  <%= f.label :"Day" %>
  <%= f.text_field :day %>
  </br>
  </br>
  <%= f.label :"Month" %>
  <%= f.text_field :month %>
  </br>
  </br>
  <%= f.label :"Year" %>
  <%= f.text_field :year %>
  </br>
  </br>
  <%= f.label :"Hour" %>
  <%= f.text_field :hour %>
  </br>
  </br>
  <%= f.submit %>

<% end %>

<div id="delete_appointment_link">
  <%= link_to "DELETE APPOINTMENT", appointment_path, method: :delete %>
</div>
