<h2>ADD NEW APPOINTMENT</h2>

<p> Make a new appointment with a daycare. </p>

<%= form_for [@appointment] do |f| %>

  <p> DOG: </p>
  <%= f.select :dog_id, current_user.dogs.all.map { |dog| [dog.name, dog.id] } %>

  <p> DAYCARE: </p>
  <%= f.select :daycare_id, Daycare.all.map { |daycare| [daycare.name, daycare.id] } %>
  </br>
  </br>
  <%= f.label :"Weeday" %>
  <%= f.text_field :weekday %>
  </br>
  </br>
  <%= f.label :"Month" %>
  <%= f.text_field :month %>
  </br>
  </br>
  <%= f.label :"Day" %>
  <%= f.text_field :day %>
  </br>
  </br>
  <%= f.label :"Time" %>
  <%= f.text_field :time %>
  </br>
  </br>

  <%= f.submit %>

<% end %>


<!-- <div class="">

<select>
  <% @dogs.each do |dog| %>
    <option value="<%= dog.id %>"><%= dog.name %></option>
  <% end %>
</select>
</br>
</br>
<p> DAYCARE: </p>
<select>
  <% @daycares.each do |daycare| %>
    <option value="<%= daycare.id %>"><%= daycare.name %></option>
  <% end %>
</select>
</div> -->
