<h2>ADD NEW APPOINTMENT</h2>

<p> Make a new appointment with a daycare. </p>

<%= form_for [@appointment] do |f| %>


  <!-- <p> DOG: </p>
  <select>
    <%# @dogs.each do |dog| %>
      <option value="<%#= @appointment.dog.id. %>"><%#= dog.name %></option>
    <%# end %>
  </select>
  </br>
  </br>
  <p> DAYCARE: </p>
  <select>
    <%# @daycares.each do |daycare| %>
      <option value="<%#= daycare.id %>"><%#= daycare.name %></option>
    <%# end %>
  </select> -->

  <%= f.label :"Dog" %>
  <%= f.number_field :dog_id %>
  </br>
  </br>
  <%= f.label :"Daycare" %>
  <%= f.number_field :daycare_id %>
  </br>
  </br>
  <%= f.label :"Day" %>
  <%= f.text_field :day %>
  </br>
  </br>
  <%= f.label :"Month" %>
  <%= f.text_field :month %>
  </br>
  </br>
  <%= f.label :"Year" %>
  <%= f.text_field :year %>
  </br>
  </br>
  <%= f.label :"Hour" %>
  <%= f.text_field :hour %>
  </br>
  </br>
  <%= f.submit %>

<% end %>
