<h2> APPOINTMENT INFO </h2>

  <div class="show_appointment">
    <p> DOG: <%= @appointment.dog.name %></p>
    <p> DOG USER: <%= @appointment.dog.user.email %> </p>
    <p> LOCATION: <%= @appointment.daycare.name %> </p>
    <p> DAYCARE USER: <%= @appointment.daycare.user.email %> </p>
    </br>
    </br>
    <p> CREATED BY: <%= @appointment.created_by %> </p>
    </br>
    </br>
    <p> DAY: <%= @appointment.weekday%>, <%= @appointment.day %></p>
    <p> MONTH: <%= @appointment.month %></p>
    <p> TIME: <%= @appointment.time %>:00</p>

    <div id="edit_appointment_link">
      <%= link_to " [ EDIT / DELETE APPOINTMENT ] ", edit_appointment_path(@appointment) %>
    </div>
  <div class="show_appointment">
