<!DOCTYPE html>
<html>



  <head>

    <title>SimpleDog</title>

    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>







  <body>



    <header>


      <div class="full_site_logo">

        <div class="dog_logo">
          <img src="/logo_1.png">
        </div>

        <div class="site_header_text">
          <h1>SIMPLE DOG</h1>
          <p>Dog Daycare Reservations App</p>
        </div>

      </div>



      <div class="sign_in">
        <% if !current_user %>
          <%= link_to "LOG IN", new_user_session_path %>
          <%= link_to "SIGN UP", new_user_registration_path %>
        <% else %>
          <div class="user_confirmation">
            <%= current_user.email %>
          </div>
          <%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %>
        <% end %>

      </div>


    </header>







    <nav>
      <a href="/homes">HOME</a>

      <% if current_user %>
        <a href="/dogs">MY DOGS</a>
        <a href="/daycares">DAYCARES</a>
      <% elsif !current_user %>
        <a href="/homes/nonuser_dogs">DOGS</a>
        <a href="/daycares">DAYCARES</a>
      <% end %>

      <%# elsif current_user && current_user.daycares == true %>
        <!-- <a href="/daycares/<%#=current_user.daycares.id%>">MY DAYCARE</a> -->

    </nav>






    <main>

      <div class="flash_alert">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <%= yield %>

    </main>










    <footer>
      <p>Simple Dog Web App</p>
      <p> Copyright: 2017 </p>
    </footer>


  </body>



</html>
